<div class="body">
    <div class="container">
        <div class="row justify-content-md-center">
              <div class="col-sm-6 col-md-6 col-lg-6 box-css">
              <p >  <b>Gmail: </b> <a href="mailto:Safoura.yousefi2024@gmail.com"> <i  class="bi bi-envelope"></i></a> </p><br>
              <p >  <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/safoura-yousefi-1a2160165"><i  class="bi bi-linkedin"></i></a></p><br>
              <p>  <b>Phone: </b>  <a href="tel:+989376829773"> <i class="bi bi-telephone"></i></a></p><br>
              <p>  <b>Postal Code: </b> 1631646876 <i class="bi bi-mailbox"></i></p><br>
            </div>
          </div>
        </div>
</div>
