<div class="body">
    <div class="container">
        <div class="row justify-content-md-center">
              <div class="col-sm-8 col-md-8 col-lg-8 box-css">
                <h3>Contact Me</h3> <br>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6" >
                    <b>Gmail: </b> <a href="mailto:Safoura.yousefi2024@gmail.com"> <i  class="bi bi-envelope"></i></a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/safoura-yousefi-1a2160165"><i  class="bi bi-linkedin"></i></a>                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6" >
                    <b>Phone: </b>  <a href="tel:+989376829773"> <i class="bi bi-phone"></i></a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <b>Postal Code: </b> 1631646876 <i class="bi bi-mailbox"></i>
                  </div>
                </div>

            </div>
          </div>
        </div>
</div>
