<div class="body">
    <div class="container">
        <div class="row justify-content-md-center">
              <div class="col-sm-6 col-md-6 col-lg-6 box-css">
              <p> <i class="bi bi-cake2"></i> <b>Date Of Birth:</b> 08/07/1990</p><br>
              <p > <i  class="bi bi-envelope"></i> <b>Gmail:</b> <a href="mailto:Safoura.yousefi2024@gmail.com">Safoura.yousefi2024@gmail.com</a> </p><br>
              <p > <i  class="bi bi-linkedin"></i> <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/safoura-yousefi-1a2160165">https://www.linkedin.com/in/safoura-yousefi-1a2160165</a></p><br>
              <p> <i class="bi bi-telephone"></i> <b>Tel:</b> +989376829773</p><br>
              <p> <i class="bi bi-mailbox"></i> <b>Postal Code:</b> 1631646876</p><br>
            </div>
          </div>
        </div>
</div>
