<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Publications</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b>M. Ravangard, et al.</b>, Application of Big Data for Supermarket Refrigeration Systems with Development of Data-Driven
              Machine Learning Models.<b> Status: Published.</b> <br>
            <br>
            <b></b><br>
            <p style="text-align: justify">
            </p>
            <b style="font-size:11px "></b>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b>M. Ravangard, et al.</b>, Techno-economic assessment of solar-based Cu-Cl thermochemical hydrogen production plant: A case
              study.<b> Status: Published.</b> <br>
            <br>
            <b></b><br>
            <p style="text-align: justify">
            </p>
            <b style="font-size:11px "></b>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b>M. Ravangard, et al.</b>, Power-to-X in Australia: A Techno-Economic Evaluation of Solar-Driven Hydrogen Production
              Integrated with Carbon Capture for E-Methanol Production and Ironmaking Decarbonization.<b> Status: Under review.</b> <br>
            <br>
            <b></b><br>
            <p style="text-align: justify">
            </p>
            <b style="font-size:11px "></b>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
