<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Classroom Projects</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
           <b> •	Recruitment negotiation for the position of Marketing Manager in a tourism company.</b> <br>
            <b>Description:</b>  This classroom project focuses on simulating recruitment negotiations for the Marketing Manager position in a tourism company. Students engage in role-playing exercises to practice negotiation skills and decision-making specific to hiring a Marketing Manager in the tourism industry.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Employee resistance to change and introducing some methods to deal with it.</b> <br>
           <b> Description:</b> This classroom project explores the topic of employee resistance to change and introduces various methods to effectively manage and address this resistance within an organizational context. Students learn strategies and techniques to mitigate resistance and facilitate successful change initiatives in the workplace.
          </div>
          </div>

      </div>
    </div>
  </div>
</div>
