<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>References</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	<b>Ghasem Shiri </b>, Professor of Department of Business Management, Collège Boréal, Toronto, Ontario, Canada
            <br>
            <b>Email: </b> <a href="mailto:ghasem.shiri@collegeboreal.ca"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=aJMuWccAAAAJ"><i  class="bi bi-google"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b>	Hormoz Mehrani</b>, Associate Professor of the Department of Business Management, University Faculty at Islamic Azad University (IAU), Tehran, Iran            <br>
            <b>Email: </b> <a href="mailto:mehrani@ghazali.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/hormoz-mehrani-7946b965/?originalSubdomain=ir"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b>	Shadan Vahabzadeh Monshi </b>, Assistant Professor of the Department of Business Management, Islamic Azad University (IAU), Tehran, Iran
            <br>
            <b>Email: </b> <a href="mailto:sh_vahabzadeh@iau-tnb.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&view_op=search_authors&mauthors=shadan+vahabzadeh+monshi&btnG="><i  class="bi bi-google"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b>Zahra Alipour Darvishi </b>, Associate Professor of the Department of Business Management, Islamic Azad University (IAU), Tehran, Iran
            <br>
            <b>Email: </b> <a href="mailto:z-alipour@iau-tnb.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=pzueDlQAAAAJ"><i  class="bi bi-google"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b>Esfandyar Mohammadi </b>, Associate Professor of the Department of Business Management, Ilam University, Ilam, Iran
            <br>
            <b>Email: </b> <a href="mailto:e.mohamadi@ilam.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=DVe-HFMAAAAJ"><i  class="bi bi-google"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b>Yasan AllahPourAshraf </b>, Associate Professor of Department of Business Management, Ilam University, Tehran, Iran
            <br>
            <b>Email: </b> <a href="mailto:y.pourashraf@ilam.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b>Zeinab Toulabi</b>, Associate Professor of the Department of Business Management, Ilam University, Ilam, Iran
            <br>
            <b>Email: </b> <a href="mailto:z.toulabi@ilam.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=m3qXd2kAAAAJ"><i  class="bi bi-google"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b>Maham Tabatabaei</b>, Lecturer of Department of Business Management, Collège Avalon, Toronto, Ontario, Canada
            <br>
            <b>Email: </b> <a href="mailto:maham@collegeavalon.com"> <i  class="bi bi-envelope"></i></a> <br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/maham-tababatabaei-89105354?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B69o1OlPtRwatw1vydzl7Ow%3D%3D"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b>Amirhossein Jafarzadeh Ghazi</b>, Research Assistant of Department of Business Management, Ontario Tech University, Toronto, Ontario, Canada
            <br>
            <b>Email: </b> <a href="mailto:amirhossin.jafarzadehghazi@uoit.ca"> <i  class="bi bi-envelope"></i></a> <br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/amir-jafarzadeh/"><i  class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
