<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>References</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	<b>Akram Avami </b>, Assistant Professor of Energy Engineering, Tehran
            <br>
            <b>Email: </b> <a href="mailto:Avami@sharif.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Phone: </b> <a href="tel:+989153061785"><i  class="bi bi-phone"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	<b>Hossein Khajehpour </b>, Assistant Professor of Energy Engineering, Tehran
            <br>
            <b>Email: </b> <a href="mailto:khajehpour@sharif.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Phone: </b> <a href="tel:+989121393343."><i  class="bi bi-phone"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	<b>Moein Moeini-Aghtaie </b>, Assistant Professor of Energy Engineering, Tehran
            <br>
            <b>Email: </b> <a href="mailto:moeini@sharif.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Phone: </b> <a href="tel:+989120245592"><i  class="bi bi-phone"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	<b>Abbas Rajabi-Ghahnavieh </b>, Assistant Professor of Energy Engineering, Tehran
            <br>
            <b>Email: </b> <a href="mailto:rajabi@sharif.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Phone: </b> <a href="tel:+989123070916"><i  class="bi bi-phone"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
