<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Introduction</h3> <br>

    <div style="text-align: justify">
            <div >
              Research-oriented M.Sc. student in Energy and Environment Engineering at Sharif University of Technology with a background
              in Mechanical Engineering. Experienced in Life Cycle Assessment (LCA), sustainable transportation systems, energy systems
              modeling, environmental impact assessment, electric and hybrid vehicles, hydrogen systems, carbon capture, renewable energy
              systems, and decarbonization pathways. Current research evaluates the economic and environmental effects of electric and
              hybrid vehicle penetration in Tehran using Life Cycle Assessment methodologies.
            </div>
      <br>
    </div>
        <h3>Research Areas</h3> <br>
        •	<b>Sustainable Energy Systems and Environmental Assessment:</b><br>
        Life Cycle Assessment (LCA), Environmental Impact Assessment,
        Sustainable Transportation Systems, Electric Vehicles, Hybrid Vehicles, Energy Systems Modeling<br>
        •	<b>Decarbonization and Clean Energy Technologies:</b><br>
        Hydrogen, Synthetic Fuels, Carbon Capture, Utilization and Storage (CCUS),
        Renewable Energy Systems, Industrial Decarbonization<br>
        •	<b>Energy Policy and Sustainability:</b> <br>
        Energy Security, Sustainable Development, Energy-Environment Nexus
      </div>
    </div>
  </div>
</div>
