:host{
.body{
    background-color: #f2f2f2 !important;
    min-height: 85vh;
    border: 5px solid lightskyblue;
    border-radius: 3%;
    margin: 20px;
    padding: 20px;
    }
    .text-model{
        text-align: center;
        line-height: 30px;
    }


}

