<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Skills</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Negotiation</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Import-Export Processes</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Customer Service</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Procurement</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Leadership</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	NTSW</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	International Business</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	EPL</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	International Correspondence</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	ERP          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Sourcing</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Microsoft office
          </div>
        </div>
        <br>
        <h3>Hobbies</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >• Psychology Courses, Transactional Analysis (TA)</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            • Reading Books
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >• Reading Competitions</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            • Playing Sports
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Expression Method Class</div>
          <div class="col-sm-6 col-md-6 col-lg-6">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
