<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Technical Skills</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >• <b>Programming Languages:</b></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Python, R, MATLAB, C++</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	<b>Machine Learning and Data Science:</b></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Pandas, Scikit-learn, Tidyverse, Apache Spark, RapidMiner</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	<b>Process Simulation and Optimization:</b></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Aspen Plus, Aspen HYSYS, GAMS, OSeMOSYS, MAED</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	<b>Environmental Assessment and Energy Modeling:</b></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Life Cycle Assessment (LCA), SharifLCA, OpenLCA, AERMOD, BenMAP,
            LARS-WG6, Meteonorm</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	<b>Econometrics and Energy Systems Analysis:</b></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Eviews, GIS, EES          </div>
        </div>
        <br>
        <h3>Awards</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >• Writing Competition Award, Kalam Language Institute.</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            Spring 2010.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
