:host{
  .body{
    background-color: #f2f2f2 !important;
    min-height: 85vh;
    border: 5px solid lightskyblue;
    border-radius: 3%;
    margin: 20px;
    padding: 20px;
  }
  .text-model{
    text-align: center;
    line-height: 30px;
  }
  .box-css{
    box-shadow: 10px 10px 5px lightblue;
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color: ghostwhite;
    padding: 40px;
    margin: 10% 0%;

  }
}
