<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Education</h3> <br>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">2023 - Present</div>
          <div class="col-sm-10 col-md-10 col-lg-10">
           <b> M.Sc. Student in Energy and Environment Engineering (CGPA: 16/20)</b> <br>
            Sharif University of Technology, Tehran, Iran<br>
            <b> Thesis:</b> "Economic and Environmental Assessment of Electric and Hybrid Vehicle Penetration in Tehran using Life Cycle
            Assessment".<br>
            <b>Supervisor:</b> Dr. Akram Avami
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">2014 - 2019</div>
          <div class="col-sm-10 col-md-10 col-lg-10">
           <b> B.Sc. in Mechanical Engineering (CGPA: 15.27/20)</b> <br>
            Fasa University, Fasa, Iran <br>
            <b> Thesis:</b> "Numerical investigations on two-dimensional nanofluid flow and heat transfer in a microchannel".<br>
            <b>Supervisor:</b> Dr. Masoud Akbari
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
