<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Workshops</h3> <br>
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5" >•	Writing and editing administrative correspondence</div>
          <div class="col-sm-5 col-md-5 col-lg-5">
            Allameh Tabatabai University Skills Development Office
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2019
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5" >•	Professional sales skills workshop</div>
          <div class="col-sm-5 col-md-5 col-lg-5">
            Azad University Skills Development Office
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2018
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5" >•	Teamwork skills</div>
          <div class="col-sm-5 col-md-5 col-lg-5">
            Azad University Skills Development Office
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2017
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5" >•	Customer relation management (CRM)</div>
          <div class="col-sm-5 col-md-5 col-lg-5">
            Kourosh Food industry
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2020
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
