<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Language Proficiency</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
            •	Persian: Native
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	English: <br>
            <b>TOEFL</b> Score:  <br>
            Reading:       Listening:  <br>
            Speaking:     Writing:

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <b>GRE</b> Score:  <br>
            Verbal Reasoning:  <br>
            Quantitative Reasoning:  <br>
            Analytical Writing:
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
