<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Language Proficiency</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
            •	Persian: Native
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	English: <br>
            <b>TOEFL</b> Score: 106 <br>
            Reading: 29      Listening: 28 <br>
            Speaking: 22    Writing: 27

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
            •	Kurdish: Native
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <b>GRE</b> Score: 322 <br>
            Verbal Reasoning: 155 <br>
            Quantitative Reasoning: 167 <br>
            Analytical Writing: 4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
