<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Teaching and Practical Experiences</h3> <br>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Nov 2022 - Present</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>• Senior International Business in in Modalal Group.</b> <br>
            Responsibilities: Correspondence with international partners concerning matters such as purchase cost, payment terms, delivery terms, quantity, negotiable documents and more.
            Managing the process of import registration and securing the required permits.
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Sep 2019 – Nov 2022</div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <b>• International Business Specialist in Kourosh Food Industry.</b> <br>
              Responsibilities: Research and Sourcing new suppliers in order to increase competition and reduce cost.
              Conducting market research and analysis involves evaluating competitive suppliers, pricing, quality, and ensuring conformity with global trade regulations, encompassing import and export legislation.
            </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Dec 2017 - Sep 2019</div>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <b>• International Business Specialist in Novin Tarkhis Baghi.</b> <br>
                Responsibilities: Leading customers and ensuring the punctual processing and delivery of their orders.
                Handling all international trade and purchasing affairs.
                Coordinate all aspects of shipping processes involved in international trade.
              </div>
              </div>
      </div>
    </div>
  </div>
</div>
