<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Teaching and Practical Experiences</h3> <br>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Jan 2024 - Present</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>•	Senior Foreign Trade in Arena Group, Dubai.</b> <br>
            Responsibilities: Leadership, Interpreting, Supplier Negotiation, Purchasing Processes, Sales, International Corresponds, Purchase Orders.
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Apr 2023 – Nov 2023</div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <b>•	Senior Foreign Trade in Modalal Group, Iran.</b> <br>
              Responsibilities: Purchase Orders, Leadership, Interpreting, Supplier Negotiation, Purchasing Processes, Sales, International Corresponds.
            </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Dec 2020 - Sep 2022</div>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <b>•	Senior Foreign Trade in Golrang Industrial Group, Iran.</b> <br>
                Responsibilities: Marketing, Purchasing Negotiation, Purchase Orders, Customs Clearance, Registration Order, Import, Negotiation, International Trade.
              </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Nov 2018 - Nov 2020</div>
                <div class="col-sm-9 col-md-9 col-lg-9">
                  <b>•	Foreign Trade Specialist in Natanz Steel Co., Iran.</b> <br>
                  Responsibilities: Supplier Negotiation, International Negotiations, International Business, Marketing, Sourcing, Outsourcing, Participating in Exhibitions located in China, Communication with Chinese Companies, Purchasing Negotiation, Local and Foreign Commercial, Import-export.
                </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Apr 2016 – Oct 2018</div>
                  <div class="col-sm-9 col-md-9 col-lg-9">
                    <b>•	Commercial and Administrative Expert in Novin Tarkhis Baghi Co., Iran.</b> <br>
                    Responsibilities: Customer Service, Customer Relationship Management (CRM), Customer Support, Exchange, Import- Export, Organization, Microsoft Office, Clearance, Corresponds.
                  </div>
                </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Jan 2009– Jan 2012</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>•	Administrative officer in a medical clinic.</b>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
