<nav class="navbar navbar-expand-lg navbar-light bg-light nav-figure">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-icon" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active nav-tab" routerLink="/introduction" routerLinkActive="active" >Introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/ٍeducation" routerLinkActive="active">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/practical-experience" routerLinkActive="active">Practical Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/related-courses" routerLinkActive="active">Related Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab"  routerLink="/skills" routerLinkActive="active" >Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/classroom-projects" routerLinkActive="active">Classroom Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/publications" routerLinkActive="active">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/workshops" routerLinkActive="active">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab"  routerLink="/conferences" routerLinkActive="active" >Conferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/language-proficiency" routerLinkActive="active">Language Proficiency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/references" routerLinkActive="active">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" routerLink="/contact-me" routerLinkActive="active">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
