<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Related Courses (on a scale of 20)</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >•	Energy Audit Laboratory, GPA: 19.6/20.</div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Energy and Climate Change, GPA: 17/20.
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" >•	Energy Security, GPA: 18.2/20.</div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Energy Modeling, GPA: 16/20.
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12">•	Energy Foresight and Futures Studies, GPA: 18.5/20.</div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Applied Optimization in Energy Systems, GPA: 16.4/20.          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" >•	Energy and Environment, GPA: 15.7/20.</div>

        </div>
      </div>
    </div>
  </div>
</div>
