<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Conferences and Workshops</h3> <br>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	International Summer School on Machine Learning and Security in Energy Systems, Iran Energy Association, Tehran, Iran.
            Role: Participant.Duration: 16 hours.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
             Year: 2024.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	Aspen HYSYS Workshop, Sharif University of Technology, Iran. Role: Participant.Duration: 21 hours.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
             Year: 2024.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	Photovoltaic System Designer, Technical and Vocational Training Organization (TVTO). Role: Participant.Duration: 302 hours.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
             Year: 2025.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	4th International Conference on Energy Optimization and Efficiency, Tehran, Iran. Role: Executive Committee Member of
            Organizing Team.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            Year: 2025.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	4th International Conference and Exhibition on Energy Optimization and Efficiency, Iran. Role: Member of Renewable Energy
            Association of Iran.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            Year: 2025.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	10th International Conference on Energy Technology and Management, Tabriz, Iran. Role: Poster Presentation.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            Year: 2025.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8" >•	15th International Conference on Smart Energy Networks, Shiraz, Iran. Role: Oral Presentation.</div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            Year: 2025.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
