<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Conferences</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Familiarity with communication techniques and principles and techniques of negotiation, Allameh Tabatabai University Skills Development Office.</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Zahra Alipour Darvishi
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2019
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	International Commercial & Trade Skills, IBTC (Iran Business Training Center, Tehran).</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Sasan Khodaee
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2017
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Management and strategic planning course, Ilam University.</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Esfandyar Mohammadi
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2013
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
